@media screen and (max-width: 1440px) {
  .container {
    padding: 0 clamp(1.25rem, -0.707rem + 8.7vw, 6.25rem);
  }
  html {
    font-size: 16px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 0 !important;
  }
  .header__contact-social a img {
    width: 23px;
    height: 23px;
  }
  .header__container {
    width: 100%;
  }
  .header__nav {
    display: none;
  }
  .header__adaptive {
    display: block;
    background-color: #F5F6FA;
    padding: 14px 0 10px 0;
    width: 100%;
  }
  .header__adaptive .header__nav {
    margin-left: 0;
    display: block;
  }
  .header__desktop {
    padding: 5px 0;
  }
  .header__contact-btn {
    padding: 9px 13px;
  }
  .leaders__bottom-description {
    padding-bottom: 53px;
  }
  .clients__bottom {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  .clients__item:nth-last-child(-n+2) {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .title {
    font-size: clamp(1.438rem, 0.899rem + 2.39vw, 2.813rem);
  }
  .description {
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .btn {
    font-size: clamp(0.744rem, 0.741rem + 0.01vw, 0.75rem);
    padding: 10px clamp(1.5rem, 1.231rem + 1.2vw, 2.188rem);
  }
  .form__btn {
    font-size: clamp(0.744rem, 0.741rem + 0.01vw, 0.75rem);
  }
  .item-title {
    font-size: clamp(1rem, 0.951rem + 0.22vw, 1.125rem);
  }
  .item-description {
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .header__logo {
    padding-left: clamp(1.25rem, -0.707rem + 8.7vw, 6.25rem);
    width: clamp(4.188rem, 2.573rem + 7.17vw, 8.313rem);
  }
  .header__logo img {
    max-width: 100%;
  }
  .header__contact {
    padding-right: clamp(1.25rem, -0.707rem + 8.7vw, 6.25rem);
  }
  .header__contact-block a {
    font-size: clamp(0.744rem, 0.741rem + 0.01vw, 0.75rem);
  }
  .header__contact-block p {
    font-size: clamp(0.744rem, 0.741rem + 0.01vw, 0.75rem);
  }
  .main__title {
    font-size: clamp(1.875rem, 1.508rem + 1.63vw, 2.813rem);
  }
  .main__description {
    font-size: clamp(1rem, 0.951rem + 0.22vw, 1.125rem);
  }
  .main__btn-btn {
    font-size: 12px;
    padding: 21px clamp(1.625rem, 0.793rem + 3.7vw, 3.75rem);
    width: unset;
    height: unset;
    line-height: unset;
  }
  .service__item-text {
    font-size: 18px;
  }
  .indicators .description {
    font-size: clamp(0.75rem, 0.708rem + 0.21vw, 0.875rem);
  }
  .team__container {
    padding-top: 44px;
  }
  .leaders__bottom-img {
    padding: clamp(0.563rem, 0.269rem + 1.3vw, 1.313rem);
  }
  .leaders__bottom-title {
    font-size: clamp(1rem, 0.951rem + 0.22vw, 1.125rem);
  }
  .leaders__bottom-description {
    font-size: clamp(0.869rem, 0.866rem + 0.01vw, 0.875rem);
  }
  .leaders__bottom-title {
    padding: 0 clamp(0.563rem, 0.269rem + 1.3vw, 1.313rem) 1.6rem;
  }
  .leaders__bottom-description {
    padding: 0 clamp(0.563rem, 0.269rem + 1.3vw, 1.313rem) 5.5rem;
  }
  .clients__item {
    padding: 0 clamp(0.875rem, 0.728rem + 0.65vw, 1.25rem);
  }
  .clients__bottom {
    gap: clamp(0.375rem, 0.326rem + 0.22vw, 0.5rem);
  }
  .form__input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .form__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .form__input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .form__input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .reviews__bottom {
    margin-top: 35px;
  }
  .business__block {
    padding: 90px clamp(1.25rem, 0.516rem + 3.26vw, 3.125rem) 90px clamp(1.25rem, 0.516rem + 3.26vw, 3.125rem);
  }
  .business__bottom {
    gap: clamp(3.063rem, 3.038rem + 0.11vw, 3.125rem);
  }
  .business__form form .form__input::-webkit-input-placeholder, .contacts__item-form form .form__input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .business__form form .form__input:-moz-placeholder, .contacts__item-form form .form__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .business__form form .form__input::-moz-placeholder, .contacts__item-form form .form__input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .business__form form .form__input:-ms-input-placeholder, .contacts__item-form form .form__input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .contacts__item {
    padding: 44px clamp(1.063rem, 0.916rem + 0.65vw, 1.438rem) 40px clamp(1.063rem, 0.916rem + 0.65vw, 1.438rem);
  }
  .contacts__bottom {
    gap: clamp(0.625rem, 0.38rem + 1.09vw, 1.25rem);
  }
  .faq__item {
    padding-right: clamp(1.5rem, 0.864rem + 2.83vw, 3.125rem);
    height: clamp(7.063rem, 6.818rem + 1.09vw, 7.688rem);
  }
  .faq__item-text {
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .faq__item:after {
    width: clamp(1.063rem, 0.769rem + 1.3vw, 1.813rem);
    height: clamp(1.063rem, 0.769rem + 1.3vw, 1.813rem);
    background-size: contain;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .faq__title {
    padding-top: clamp(2.5rem, 1.667rem + 4.17vw, 5rem);
  }
  .footer__col-link {
    font-size: clamp(0.744rem, 0.741rem + 0.01vw, 0.75rem);
  }
  .footer__contacts a {
    font-size: clamp(1rem, 0.951rem + 0.22vw, 1.125rem);
  }
  .footer__address {
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .footer__social-link img {
    width: clamp(2.744rem, 2.741rem + 0.01vw, 2.75rem);
  }
  .footer__col:nth-child(5) .footer__col-item:last-child a {
    font-size: clamp(0.75rem, 0.603rem + 0.65vw, 1.125rem);
  }
  .footer__privacy {
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .footer__col-title {
    font-size: clamp(0.75rem, 0.701rem + 0.22vw, 0.875rem);
  }
  .footer__container {
    gap: clamp(0.625rem, 0.087rem + 2.39vw, 2rem);
  }
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
  .header__container {
    width: 100%;
  }
  .service__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas: unset;
  }
  .service__item {
    grid-area: unset !important;
    padding: 68px clamp(0.875rem, 0.613rem + 1.31vw, 2.188rem) 22px;
  }
  .service__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .service__row-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: unset;
  }
  .service__row-right {
    width: unset;
  }
  .service__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }
  .btn--outline {
    margin-top: 20px;
  }
  .service__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-radius: 10px;
    height: 335px;
  }
  .service__title {
    margin-bottom: 0;
  }
  .team__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .present__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .present__left {
    display: none;
  }
  .present .present__img-mob {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .present .present__img-mob img {
    max-width: 100%;
  }
  .present__right {
    padding: 43px 0 0 clamp(1.25rem, 0.575rem + 3.38vw, 4.625rem);
  }
  .present__right {
    margin-left: 0;
  }
  .present__bottom form .form__input {
    max-width: 355px;
  }
  .present__bottom form .form__btn {
    padding: 30px clamp(4.375rem, 4.233rem + 0.71vw, 4.688rem);
  }
  .present__title {
    max-width: 755px;
  }
  .present__description {
    max-width: 500px;
  }
  .present__container {
    background-color: #042E4E;
    margin: 0 clamp(1.25rem, -0.707rem + 8.7vw, 6.25rem);
    border-radius: 20px;
    padding: 0;
  }
}
@media screen and (max-width: 867px) {
  header {
    border-bottom: 1px solid #D1D1D1;
  }
  .header__contact div:not(:last-child), .header__contact-social {
    display: none;
  }
  .header__contact-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7px;
  }
  .header__adaptive {
    display: none;
  }
  .header__burg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .leaders .swiper-wrapper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .main__title {
    margin-top: 46px;
  }
  .main__bottom {
    margin-top: 38px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 clamp(1.25rem, -0.707rem + 8.7vw, 6.25rem);
  }
  .main__btn-btn {
    font-size: 14px;
    display: none;
  }
  .main__btn-mob {
    display: block;
    color: #fff;
    width: 100%;
  }
  .main__item {
    margin-bottom: 6px;
  }
  .main__item-link {
    padding: 0 15px;
  }
  .indicators__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 44px;
  }
  .indicators__right-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #CECECE;
    gap: clamp(0.938rem, -5.804rem + 33.71vw, 10.375rem);
    padding: 0;
  }
  .indicators__right-item {
    padding-left: clamp(0.938rem, -1.875rem + 14.06vw, 4.875rem);
  }
  .indicators__btn {
    display: none;
  }
  .indicators__bottom {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .indicators__bottom-item {
    background: transparent;
    padding: 0;
  }
  .indicators__bottom {
    margin-top: 22px;
    margin-bottom: 60px;
    gap: 43px;
  }
  .indicators__bottom-title {
    margin-top: 21px;
    margin-bottom: 10px;
  }
  .indicators__bottom-description {
    max-width: 271px;
  }
  .indicators__bottom-title, .indicators__bottom-description {
    color: #444444;
  }
  .indicators .indicators__bottom-img {
    background: #fff;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .indicators__bottom-img g rect {
    fill: #042E4E;
  }
  .indicators__bottom-item:nth-child(2) {
    padding-top: unset;
  }
  .indicators__bottom-item:nth-child(2) .indicators__bottom-img {
    position: relative;
    top: unset;
  }
  .indicators__bottom-item:nth-child(2) .indicators__bottom-title {
    position: relative;
    top: unset;
  }
  .indicators__bottom-item:nth-child(2) .indicators__bottom-description {
    position: relative;
    top: unset;
  }
  .indicators__bottom-item:nth-child(3) {
    padding-top: unset;
  }
  .indicators__bottom-item:nth-child(3) .indicators__bottom-img {
    position: relative;
    top: unset;
  }
  .indicators__bottom-item:nth-child(3) .indicators__bottom-title {
    position: relative;
    top: unset;
  }
  .indicators__bottom-item:nth-child(3) .indicators__bottom-description {
    position: relative;
    top: unset;
  }
  .indicators__bottom-item:nth-child(4) {
    padding-top: unset;
  }
  .indicators__bottom-item:nth-child(4) .indicators__bottom-img {
    position: relative;
    top: unset;
  }
  .indicators__bottom-item:nth-child(4) .indicators__bottom-title {
    position: relative;
    top: unset;
  }
  .indicators__bottom-item:nth-child(4) .indicators__bottom-description {
    position: relative;
    top: unset;
  }
  .indicators__right-item {
    margin-bottom: 0;
    padding-bottom: 44px;
  }
  .indicators__right-item:first-child {
    top: unset;
  }
  .indicators__right-item:nth-child(2) {
    top: unset;
  }
  .indicators__right-item:nth-child(3) {
    top: unset;
  }
  .indicators__right-item:nth-child(4) {
    top: unset;
  }
  .team .team__left {
    width: unset;
  }
  .team__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__item:nth-child(2) {
    display: none;
  }
  .team__bottom {
    margin-bottom: 17px;
  }
  .optimization {
    padding-bottom: 40px;
  }
  .form {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
  .form__input {
    border-bottom: 1px solid #1B496B;
    padding-bottom: 18px;
  }
  .form__btn {
    margin-top: 23px;
  }
  .reviews__item:last-child {
    display: none;
  }
  .reviews__bottom {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .reviews__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews__btn {
    justify-self: baseline;
    margin-top: 19px;
  }
  .reviews {
    padding-bottom: 90px;
  }
  .business__bottom {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts__bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
  .contacts__item-bottom {
    margin-top: 30px;
  }
  .present {
    background: #042E4E;
    padding-top: 40px;
    position: relative;
  }
  .present:after {
    content: "";
    background: url("../img/present/present-bg.svg") no-repeat;
    width: 221px;
    height: 541px;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
  }
  .present__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__bottom .present__bottom-social {
    display: none;
  }
  .present__right {
    padding: 0;
  }
  .present__bottom form .form__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 18px 7px 18px clamp(4.375rem, 4.233rem + 0.71vw, 4.688rem);
  }
  .present__bottom form .form__btn img {
    margin-left: clamp(3.813rem, 3.768rem + 0.22vw, 3.875rem);
  }
  .present__title {
    max-width: 400px;
  }
  .present__description {
    max-width: 300px;
  }
  .present .present__bottom form .form__btn img {
    display: block;
  }
  .present__bottom form {
    width: 100%;
  }
  .form__bottom .form__btn {
    width: 100%;
  }
  .present__bottom form .form__btn img {
    margin-left: auto;
  }
  .present__bottom form .form__input {
    max-width: unset;
  }
}
@media screen and (max-width: 890px) {
  .footer__container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__col:nth-child(4) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .footer__col:last-child {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .footer__col:nth-last-child(-n+2) {
    margin-top: 0;
  }
  .footer__container {
    gap: 47px clamp(0.625rem, 0.087rem + 2.39vw, 2rem);
  }
  .footer__privacy {
    display: none;
  }
  .clients__bottom {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .clients__item:nth-last-child(-n+4) {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .business__bottom {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__col:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .footer__col:nth-child(4) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__col:last-child {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .footer__col:first-child {
    margin-top: 40px;
  }
  .footer__col:not(:first-child) {
    margin-top: 0;
  }
  .footer__container {
    gap: 32px;
  }
  .footer__col-item_bottom {
    margin-bottom: 52px;
  }
  .footer__col:nth-child(5) .footer__col-item:last-child {
    margin-bottom: 52px;
  }
}
@media screen and (max-width: 420px) {
  .reviews__bottom, .leaders .swiper-wrapper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .reviews__item:nth-last-child(-n+2), .leaders__bottom-item:nth-last-child(-n+3) {
    display: none;
  }
  .indicators__bottom {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .indicators__right {
    gap: 13px;
  }
  .indicators__right-item {
    padding-left: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 0;
  }
  .indicator {
    width: 100%;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 20px;
  }
  .indicators__right-item {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
  .service__item-num {
    position: absolute;
    top: 18px;
  }
  .service__item:nth-child(5) {
    padding: 68px clamp(0.875rem, 0.613rem + 1.31vw, 2.188rem) 22px;
  }
  .btn--rounded {
    display: none;
  }
  .leaders .leaders__right .leaders__btn {
    display: none;
  }
  .clients__bottom {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .clients__item:nth-last-child(-n+3) {
    display: none;
  }
  .clients__btn {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .form__btn {
    font-size: 14px;
  }
  .header__contact-btn img {
    margin-right: 4px;
  }
  .indicators__right-item .indicator {
    border-bottom: 1px solid #CECECE;
  }
  .leaders .swiper-wrapper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .reviews__bottom {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .reviews__item:nth-last-child(-n+2) {
    display: none;
  }
  .business__bottom {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .articles__bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
  }
  .articles__item-description {
    margin-top: 15px;
  }
  .footer__address {
    font-size: 16px;
  }
  .footer__social-link img {
    width: 53px;
    height: 54px;
  }
}