html {
  font-size: 10px;
  line-height: 1.3;
}
@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 6px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #042e4e;
  color: #ffffff;
  border: 1px solid #042e4e;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  width: auto;
}
.btn--sm {
  padding: 1.2rem 2.4rem;
}
.btn--lg {
  padding: 2.4rem 4.5rem;
}
.btn--rounded {
  border-radius: 24px;
}
.btn--outline {
  background-color: transparent;
  color: #042e4e;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-title {
  font-size: 5.6rem;
  margin: 0;
}

.service__header {
  margin-bottom: 6rem;
}
.service__title {
  max-width: 100.5rem;
}
.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 3.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__img {
  width: 100%;
  height: 100%;
  background-color: #ececec;
}
.service-row__left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.service-row__right {
  width: calc(60% - 3.6rem);
}
.service__consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #042e4e;
  color: #ffffff;
  padding: 2.8rem 3.6rem;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.service-consult__icon {
  width: 3.7rem;
  height: 3.7rem;
  color: #ffffff;
}
.service-consult__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.4rem;
}
.service__grid {
  display: grid;
  gap: 1.1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "A A B B B" "C C D D D" "E E E E E";
}
.service__item {
  position: relative;
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 11.3rem 3.5rem 3.5rem;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.service__item:nth-child(1) {
  grid-area: A;
}
.service__item:nth-child(2) {
  grid-area: B;
}
.service__item:nth-child(3) {
  grid-area: C;
}
.service__item:nth-child(4) {
  grid-area: D;
}
.service__item:nth-child(5) {
  grid-area: E;
  padding: 70px 35px 35px;
}
.service__item:nth-child(5) .service-item__text {
  max-width: 50%;
}
.service-item__icon {
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  color: #042e4e;
  width: 3rem;
  height: 3rem;
}
.service-item__num {
  display: inline-block;
  color: #cecece;
  font-size: 2.4rem;
  margin-bottom: 1.3rem;
}
.service-item__text {
  margin: 0;
  color: #444;
  font-size: 2.4rem;
  font-weight: 500;
  max-width: 80%;
}/*# sourceMappingURL=style.css.map */